body{
	background-image: url(SanFrancisco.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed; /*para que la imagen se quede fija*/
	margin: 0;
	font-family: monospace; /*colocar fuente a todo el cuerpo*/
}

a{
	font-size: 20px;
	text-decoration: none;
	margin: 10px 20px;
	display: inline-block;
	background: #3BA7E1;
	color: #fff;
	padding: 10px 20px;
	box-shadow: 0px 5px 0px #1D64A6;
}

/*Decorado al pasar el mouse por encima*/
a:hover{
	box-shadow: 0px 2px 0px #1D64A6;
}

/*propiedades cuando se cickea el link*/
a:active{
	box-shadow: 0px 0px 0px #1D64A6;
}

form{
	margin-top: 200px;
}

input{
	width: 200px; /*ancho*/
	background: rgba(241,238,238,1);/*color del formulario red,green,blue,transparencia*/
	padding: 10px 20px; 	/*Relleno que va a tener el formulario*/
	/*alto y ancho px*/
	border-radius: 10px; /*borde redondeado*/
}