body{
	background-image: url(prueba.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed; /*para que la imagen se quede fija*/
	margin: 0;
	font-family: monospace; /*colocar fuente a todo el cuerpo*/
}

/*Codigo estilo de formulario de login*/

.EstiloFormularioAgregarUsuario{
	width: 400px; /*ancho*/
	background: rgba(241,238,238,1);/*color del formulario red,green,blue,transparencia*/
	padding: 10px 20px; 	/*Relleno que va a tener el formulario*/
	/*alto y ancho px*/
	border-radius: 10px; /*borde redondeado*/
	position: absolute;
	top: 25%;
	left: 40%;
}

.EstiloCabeceraAgregarU h2{
	color: #000000; /*color*/
	text-align: center; /*centrar titulo h2*/
	margin: 0;
	font-size: 30px; /*tamanio de fuente*/
	margin-bottom: 20px;
}

/*le doy estilo a los input*/
.EstiloFormularioAgregarUsuario input{
	width: 100%; /*ancho*/
	margin-bottom: 5px;/*margen de botones/separacion*/
	padding: 7px; /*relleno*/
	box-sizing: border-box;/*ajustar bordes*/
	font-size: 15px;/*tamanio de fuente*/
}

/*Tipo Usuario - Identificacion de persona*/
.EstiloFormularioAgregarUsuario select{
	width: 100%; /*ancho*/
	margin: auto;
	margin-bottom: 5px;/*margen de botones/separacion*/
	padding: 10px 20px;
	box-sizing: border-box;
	font-size: 15px;
}


a{
	font-size: 20px;
	text-decoration: none;
	margin: 10px 20px;
	display: inline-block;
	background: #3BA7E1;
	color: #fff;
	padding: 10px 20px;
	box-shadow: 0px 5px 0px #1D64A6;
}

/*Decorado al pasar el mouse por encima*/
a:hover{
	box-shadow: 0px 2px 0px #1D64A6;
}

/*propiedades cuando se cickea el link*/
a:active{
	box-shadow: 0px 0px 0px #1D64A6;
}